.main {
    background-color:     #0079BF;
    width: 100%;
    padding: 20px 0px;
}

.main__wrap {
    padding: 50px 0px;
    min-height: 200px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.block__wrap {
    background-color: #EBECF0;
    border: none;
    border-radius: 10px;
    min-height: 50px;
    padding: 10px;
}

.block__wrap h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 3px 0px;
}