.header {
    background-color: #0067A3;
    position: fixed;
    width: 100%;
}

.header__wrap {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: space-between;
    line-height: 33px;
    font-size: 28px;
    padding: 10px 20px 10px 20px;
}

.header__userIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    max-height: 40px;
}

.header__userPic {
    position: relative;
}

.header__userEllipse {
    position: absolute;
    z-index: -1;
}

.header__userMenu {
    display: flex;
    align-items: center;
}